<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Im Ausland | Bobby's Travel Log</title>
<meta name="description" content="Bobby's account of his Spring 2017 semester in Europe.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#181922">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://maxcdn.bootstrapcdn.com" crossorigin>
<link rel="preload" as="image" href="/im-ausland/img/bremen-hero.jpg">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Nunito+Sans&display=swap">
<link href="/im-ausland/css/styles.css" rel="stylesheet">
<link rel="icon" type="image/png" href="/im-ausland/img/favicon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<meta property="og:title" content="Im Ausland | Bobby's Travel Log" />
<meta property="og:image" content="https://bobbylcraig.com/im-ausland/img/post-imgs/passport-min.jpg" />
<meta property="og:description" content="Bobby's account of his Spring 2017 semester in Europe. Follow his travels on a map while you read about his adventures there." />
<meta property="og:url"content="https://bobbylcraig.com/im-ausland/" />
